fastapi==0.109.2
uvicorn==0.27.1
python-socketio==5.11.1
redis==5.0.1
python-jose[cryptography]==3.3.0
requests==2.31.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
httpx
python-multipart
passlib[bcrypt] 